<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    
    <nav class=".navbar .navbar-expand-lg bg-dark navbar-dark py-5" >
        <div class="container-fluid text-center">
            <a href="#" class="navbar-brand" style="font-size:larger"> Weather Tracking Website </a>
        </div>
    </nav>
    <a class="btn btn-secondary" href="/logs">Your Logs</a>

    <div class="container position-absolute top-50 start-50 translate-middle">
        <form class="position-absolute top-30 start-50 translate-middle" action="/" method="POST">
            <input type="text" name="city" placeholder="Enter City name">
            <input type="submit" value="Get Weather!">
        </form>
    </div>
    
    <div class="d-flex justify-content-between mx-auto .flex-wrap" style="width: 70%">
        <div class=".flex-column border rounded" style="padding: 2em; margin-top: 4em">    
            
    </div>
</body>
</html>